input[type="range"] {
    background-image: linear-gradient(#06b6d4, #06b6d4);
}

input[type="range"]::-webkit-slider-thumb {
    background: #06b6d4;
}

input[type="range"]::-moz-range-thumb {
    background: #06b6d4;
}