input[type="range"] {
    background-image: linear-gradient(#0891b2, #0891b2);
}

input[type="range"]::-webkit-slider-thumb {
    background: #0891b2;
}

input[type="range"]::-moz-range-thumb {
    background: #0891b2;
}